:root{
    --cor01: #F7AD45;
    --cor02: #B60303;
    --cor03: #7C1400;
    --cor04: #9D9D9D;
}


body{
    background-color: var(--cor04);
}

.bg-body-tertiary{
    background-color: #7C1400!important;
    color: #ffff;
}

.navbar-brand{
    border-radius: 100%;
    border: 2px solid var(--cor04);
}

.card > img{
    background-color: var(--cor01);
}

.card-body{
    text-align: center;
}

.destaque{
    font-weight: bold;
}

.competidores{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-competidores {
    display: flex;
    flex-direction:row;
    justify-content:space-between;

    margin-top: 2%;
}

#carouselExampleInterval {
    max-width: 500px;
    max-height: 300px;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 12vh 76vh 12vh;
    grid-template-areas:
    'header'
    'main'
    'footer';
}

.carousel-control-prev, .carousel-control-next{
    align-items: end;
}

